<template>
		
	<div class="container p-3 my-3 border">

		<h2>Calendar</h2>

		<hr>

		<form>

			<div class="form-group row">
				
				<div class="col-md-4">

					<div class="form-group">
					 	<label>Event:</label>
						<input v-model="event" type="text" class="form-control input-sm">
					</div>

					<div class="form-group row">

						<div class="col-md-6">
							<label>From:</label>
							<date-picker @change="getFromDateValue" v-model="date_from" valueType="format"></date-picker>
						</div>

						<div class="col-md-6">
							<label>To:</label>
							<date-picker v-model="date_to" valueType="format"></date-picker>
						</div>
						
					</div>

					<div class="form-group">
						
		    			<label class="checkbox-inline">
					      <input @click="selectDay('Mon')" type="checkbox" value="Mon">Mon
					    </label>
					    <label class="checkbox-inline">
					      <input @click="selectDay('Tue')" type="checkbox" value="Tue">Tue
					    </label>
					    <label class="checkbox-inline">
					      <input @click="selectDay('Wed')" type="checkbox" value="Wed">Wed
					    </label>
					    <label class="checkbox-inline">
					      <input @click="selectDay('Thu')" type="checkbox" value="Thu">Thu
					    </label>
					    <label class="checkbox-inline">
					      <input @click="selectDay('Fri')" type="checkbox" value="Fri">Fri
					    </label>
					    <label class="checkbox-inline">
					      <input @click="selectDay('Sat')" type="checkbox" value="Sat">Sat
					    </label>
					    <label class="checkbox-inline">
					      <input @click="selectDay('Sun')" type="checkbox" value="Sun">Sun
					    </label>

					</div>

					<div class="form">
						<button class="btn btn-small btn-primary" @click="save">Save</button>
					</div>

				</div>

				<div class="col-md-8">

					<h4>{{ monthAndYear }}</h4>

					<table class="table">
					  <tbody>
					    <tr v-for="d in dates" :class="{ active : d.boolean }" >
					      <th scope="row">
					      	{{ d.n }} {{ d.date }}
					  	  </th>
					      <td v-if="d.boolean">{{ event_title }}</td>
					      <td></td>
					      <td></td>
					      <td></td>
					      <td></td>
					    </tr>
					  </tbody>
					</table>

				</div>

			</div>

		</form>

	</div>

</template>

<style type="text/css">
	
	.mx-datepicker {
		width: 100%;
	}

	.mx-datepicker-popup {
		top: 255px !important;
	}

	hr {
	  margin-top: 1rem;
	  margin-bottom: 1rem;
	  border: 0;
	  border-top: 1px solid rgba(0, 0, 0, 0.1);
	}

	.checkbox-inline input {
		margin: 3px;
	}

	.active {
		background: #FFFF99;
	}

	table tr {
		line-height: .5;
	}


</style>

<script>

  import DatePicker from 'vue2-datepicker';
  import 'vue2-datepicker/index.css';
  import Vue from 'vue';
  import axios from 'axios';
  import VueAxios from 'vue-axios';

  import VueToast from 'vue-toast-notification';
  // Import one of available themes
  import 'vue-toast-notification/dist/theme-default.css';
  //import 'vue-toast-notification/dist/theme-sugar.css';

  import moment from 'moment';

  Vue.use(VueAxios, axios);

  Vue.use(VueToast, {
	// One of the options
	position: 'top-right'
  });

  Vue.use(moment);

  export default {
    components: { DatePicker },
    data() {
      return {
      	event: "",
      	event_title: "",
      	monthAndYear: "",
        date_from: null,
        date_to: null,
        days: [],
        dates: [],
        initializeDate: "",
      };
    },	

    mounted() {

    	this.initializeCurrentMonthListing();

    },

    methods: {

    	save(e){

    		e.preventDefault();

    		// Simple validation
    		if(this.checkIfemptyEvent())
    		{
    			alert("Please fill up the Event!");
    		}
    		else if(this.checkIfemptyFromDate())
    		{
    			alert("Select From Date!");
    		}
    		else if(this.checkIfemptyToDate())
    		{
    			alert("Select To Date!");
    		}
    		else if(this.checkIfemptyDays())
    		{
    			alert("Select Day(s)!");
    		}
    		else
    		{
    			this.event_title = this.event;

    			this.saveData();
    		}

    	},

    	checkIfemptyEvent()
    	{
    		if(!this.event) return true;
    	},

    	checkIfemptyFromDate()
    	{
    		if(!this.date_from) return true;
    	},

    	checkIfemptyToDate()
    	{
    		if(!this.date_to) return true;
    	},

    	checkIfemptyDays() 
    	{
    		if(!this.days.length) return true;
    	},

    	saveData() 
    	{

    		var data = { event: this.event_title, date_from: this.date_from, date_to: this.date_to, days: JSON.stringify(this.days) }

 			axios.post('calendars', data)
	        .then(response => {

	        	this.checkDayandDate();

	        	this.$toast.open('Successfully Saved!');
	          
	        })
	        .catch(error => {

	      	});
    	},

    	selectDay(day) {

    		if(!this.checkIfDayExist(day)) 
    		{
    			this.days.push(day);
    		}
    		else
    		{
    			this.removeDayFromArray(day);
    		}
    		
    	},

    	// Insert Day in Array if not exist
    	checkIfDayExist(day) {

    		return this.days.indexOf(day) > -1;

    	},

    	// Remove Day in array
    	removeDayFromArray(day) {

    		var self = this;

    		this.days.filter(function(dayArr, index){

    			if(dayArr == day) self.days.splice(index, 1);

    		});

    	},

    	// Display if date is from Sun to Sat
    	dayChecker(n) {

    		var date = new Date(this.getDateFormat(n)).getDay();

    		if(date == 0) return "Sun";
    		if(date == 1) return "Mon";
    		if(date == 2) return "Tue";
    		if(date == 3) return "Wed";
    		if(date == 4) return "Thu";
    		if(date == 5) return "Fri";
    		if(date == 6) return "Sat";

    	},

    	// Date format ex (2020-01-05) Base on current date or selected date
    	getDateFormat(n) {

			var date = (this.date_from) ? new Date( this.date_from ) : new Date( this.initializeDate );

			var year = date.getFullYear();
			var month = date.getMonth() + 1;

			// Add 0 if less than 10
			if (month < 10) month = "0" + month;
			if (n < 10) n = "0" + n;

			var mixDate = year + "-" + month + "-" + n;

			return mixDate;
    	},

    	// Check if date is in between the selected date
    	// Check if Day is in array
    	checkDayandDate(n) {

    		var self = this;

    		this.dates.filter(function(data){

    			data.boolean = false;

	    		// Check if day is in array
	    		var dayCheck = false;
				if(self.days.includes(self.dayChecker(data.n))) dayCheck = true;

				//Check if between the date
				var dateCheck = false;
				if(self.getDateFormat(data.n) >= self.date_from && self.getDateFormat(data.n) <= self.date_to) dateCheck = true;

				if(dayCheck && dateCheck) data.boolean = true;
    		});

    	},

    	initializeCurrentMonthListing() {

	    	var date = new Date();
	    	var d = date.getMonth();
	    	d++;

	    	this.initializeDate = date;

	    	this.computeMonthdate(d);
	    	this.displayMonthandYear(date);
    	},

    	// Checking if month is 31, 30 or 28 days
    	computeMonthdate(d) {

    		// empty date and day
    		this.dates = [];

	    	// Check if date end with 30 or 31
	    	var x;
	    	(d % 2) ? x = 30 : x = 31; 

	    	// If equal to 3 meaning its February
	    	if(d == 3) x = 28;

	    	var n;

	    	// Generate date and day
	    	for(n=1; n <= x; n++){
	    		this.dates.push( { n : n, date: this.dayChecker(n), boolean: false } );
	    	}


    	},

    	// Re initialize Date Listing
    	getFromDateValue() {

    		var d = new Date(this.date_from);

    		this.computeMonthdate(d);

    		this.displayMonthandYear(d);

    	},

    	displayMonthandYear(d) {

    		var date;
    		var month = d.getMonth() + 1;
    		var day   = d.getDay() + 1;
    		var y     = d.getFullYear();

			date = y + "-" + month + "-" + day;

			this.monthAndYear = moment(date).format("MMM YYYY");

    	}

    }

  };
</script>